/*COLORS
-----------------------------*/
/*BREAKPOINTS
-----------------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  object-fit: contain;
}

a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 1.6rem;
}

h1,
h2,
h3 {
  color: #4c545d;
  margin-bottom: 0.75em;
}

p {
  color: #9fabb2;
  line-height: 2.4rem;
  margin-bottom: 1.2em;
}

.container {
  width: min(90%, 1440px);
  margin: 0 auto;
}

.section {
  margin-bottom: 14rem;
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
}
.header__content {
  max-width: 50rem;
}

@media (min-width: 700px) {
  .row {
    display: flex;
    align-items: center;
  }
}
@media (min-width: 700px) {
  .row > * {
    width: 50%;
  }
}

.header {
  min-height: 100vh;
  background: linear-gradient(0deg, white 0%, white 10%, rgba(255, 255, 255, 0) 35%), url(../images/bg-header-mobile.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  text-align: center;
  padding: 6rem 0;
}
.header__logo {
  width: 10rem;
  margin-bottom: 8rem;
}
.header__paragraph {
  margin-bottom: 6rem;
}
@media (min-width: 700px) {
  .header {
    min-height: 65vh;
  }
}

.section__paragraph {
  margin-bottom: 8rem;
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 700px) {
  .section__list.features {
    display: flex;
    align-items: flex-start;
  }
  .section__list.features .section__list-item {
    flex: 1;
    text-align: center;
  }
  .section__list.features .section__list-item + .section__list-item {
    margin-left: 6rem;
  }
}
.section__list-item {
  margin-top: 3rem;
}
@media (min-width: 700px) {
  .section__list-item {
    text-align: left;
  }
}
.section__list-image {
  height: 3.4rem;
  margin-bottom: 2rem;
}
@media (min-width: 700px) {
  .section .row .section__list {
    margin-left: 10rem;
    max-width: 30%;
  }
}

.company-logos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 700px) {
  .company-logos {
    flex-direction: row;
  }
}

.company-logo + .company-logo {
  margin-top: 8rem;
}
@media (min-width: 700px) {
  .company-logo + .company-logo {
    margin-top: 0;
    margin-left: 4rem;
  }
}

.btns-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 700px) {
  .btns-container {
    flex-direction: row;
    align-items: center;
  }
}
.btns-container .btn {
  width: 100%;
  max-width: 30rem;
  background-color: red;
  color: #fff;
  font-weight: 600;
  padding: 1.2rem 0;
  border-radius: 20rem;
  transform: translateY(0);
  transition: all 0.2s;
}
.btns-container .btn--green {
  background-color: #26baa4;
  box-shadow: 0px 4px 0px 0px #249e8a;
}
.btns-container .btn--green:active {
  background-color: #2acfb7;
}
.btns-container .btn--purple {
  background-color: #6173ff;
  box-shadow: 0px 4px 0px 0px #5062d9;
}
.btns-container .btn--purple:active {
  background-color: #7a8aff;
}
.btns-container .btn:hover {
  transform: translateY(-5px);
}
.btns-container .btn:active {
  transform: translateY(0);
}
.btns-container .btn + .btn {
  margin-top: 1.75rem;
}
@media (min-width: 700px) {
  .btns-container .btn + .btn {
    margin-top: 0;
    margin-left: 3rem;
  }
}

.footer {
  background-color: #f5f6f8;
  padding: 4rem 0;
  text-align: center;
}
@media (min-width: 700px) {
  .footer {
    text-align: left;
  }
}
.footer__logo {
  width: 6rem;
}
.footer__col {
  display: flex;
  flex-direction: column;
}
.footer__link {
  color: #4c545d;
  margin-top: 3rem;
}
@media (min-width: 700px) {
  .footer__link {
    margin-top: 0;
  }
  .footer__link + .footer__link {
    margin-top: 1.5rem;
  }
}
.footer__link:hover {
  color: #26baa4;
}
@media (min-width: 700px) {
  .footer .container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.social-links {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3rem auto;
}
@media (min-width: 700px) {
  .social-links {
    width: 20%;
    margin: 0;
  }
}
.social-links svg {
  fill: #4C545C;
  transition: all 0.1s;
}
.social-links svg:hover {
  fill: #26baa4;
}

.attribution {
  font-size: 1.2rem;
  text-align: center;
  margin-top: 3rem;
}
.attribution a {
  color: #3e52a3;
  font-weight: 600;
}
.attribution a:hover {
  color: #26baa4;
}

.d-none {
  display: none;
}