.header {
    min-height: 100vh;
    background: url(../images/bg-header-mobile.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    text-align: center;
    padding: 6rem 0;

    &__logo {
        width: 10rem;
        margin-bottom: 8rem;
    }

    &__paragraph {
        margin-bottom: 6rem;
    }
}

.section {
    &__paragraph {
        margin-bottom: 8rem;
        max-width: 50rem;
        margin-left: auto;
        margin-right: auto;
    }

    &__list {}

    &__list-item {
        margin-top: 3rem;

        @include mq-med {
            text-align: left;
        }
    }

    .row .section__img {
        height: 575px;
    }

    .row .section__list {
        margin-left: 10rem;
        max-width: 30%;
    }


}

.company-logos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.company-logo+.company-logo {
    margin-top: 8rem;
}

.btns-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include mq-med {
        flex-direction: row;
        align-items: center;
    }

    .btn {
        width: 100%;
        background-color: red;
        color: #fff;
        font-weight: 600;
        padding: 1.2rem 0;
        border-radius: 20rem;

        &--green {
            background-color: $strong-cyan;
            box-shadow: 0px 4px 0px 0px rgba(36, 158, 138, 1);
        }

        &--purple {
            background-color: $light-blue;
            box-shadow: 0px 4px 0px 0px rgba(80, 98, 217, 1);
        }
    }

    .btn+.btn {
        margin-top: 1.75rem;

        @include mq-med {
            margin-top: 0;
            margin-left: 3rem;
        }
    }
}

.footer {
    background-color: #f5f6f8;
    padding: 4rem 0;
    text-align: center;

    &__logo {
        width: 6rem;
    }

    &__col {
        display: flex;
        flex-direction: column;
    }

    &__link {
        color: $dark-grayish-blue;
        margin-top: 3rem;

        &:hover {
            color: $strong-cyan;
        }
    }
}

.social-links {
    width: 40%;
    display: flex;
    justify-content: space-between;
    margin: 3rem auto;
}

.attribution {
    font-size: 1.2rem;
    text-align: center;

    a {
        color: hsl(228, 45%, 44%);
        font-weight: 600;
    }

    a:hover {
        color: $strong-cyan;
    }
}