html {
    font-size: 62.5%;
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 1.6rem;
    background-color: white;
}

h1, 
h2, 
h3 {
    color: $dark-grayish-blue;
    margin-bottom: .75em;
}

p {
    color: $grayish-blue;
    line-height: 2.4rem;
    margin-bottom: 1.2em;
}