.container {
    width: min(90%, 1440px);
    margin: 0 auto;
}

.section {
    margin-bottom: 14rem;
    text-align: center;
}

.header {
    display: flex;
    align-items: center;

    &__content {
        max-width: 50rem;
    }
}

.row {
    @include mq-med {
        display: flex;
        align-items: center;
    }

    &>* {
        @include mq-med {
            width: 50%;
        }
    }
}