.container {
    width: min(90%, 1440px);
    margin: 0 auto;
}

.section {
    margin-bottom: 14rem;
    text-align: center;
}

header {
    display: flex;
    align-items: center;
}


